In [1]:
import yt
import astropy.units as u
%matplotlib inline 
import matplotlib.pyplot as plt
import h5py
import pandas as pd
import numpy as np

In [2]:
unit_base = {
    "length": (1.0, "pc"),
    "velocity": (100, "cm/s"),
    "mass": (1.0, "Msun"),
}


ds =yt.load('../data/snapshot_296.hdf5', unit_base=unit_base)

yt : [INFO     ] 2024-03-17 09:28:25,809 ComovingIntegrationOn != 1 or (not found and OmegaLambda is 0.0), so we are turning off Cosmology.
yt : [INFO     ] 2024-03-17 09:28:25,831 Parameters: current_time              = 0.0002463474080710203
yt : [INFO     ] 2024-03-17 09:28:25,832 Parameters: domain_dimensions         = [1 1 1]
yt : [INFO     ] 2024-03-17 09:28:25,832 Parameters: domain_left_edge          = [0. 0. 0.]
yt : [INFO     ] 2024-03-17 09:28:25,832 Parameters: domain_right_edge         = [8.16 8.16 8.16]
yt : [INFO     ] 2024-03-17 09:28:25,833 Parameters: cosmological_simulation   = 0

In [3]:
Density = ds.r['PartType0', "Density"].in_units('g/cm**3')
Mass = ds.r['PartType0', "Masses"].in_units('Msun')
Temp = ds.r['PartType0', "Temperature"]
gasdframe = pd.DataFrame(
    {
        "Gas Mass": Mass,
        "Gas Density": Density,
        "Gas Temp": Temp
    }
)
gasdframe

yt : [INFO     ] 2024-03-17 09:28:25,859 Allocating for 1.084e+07 particles
Loading particle index: 100%|█████████████████| 42/42 [00:00<00:00, 2286.85it/s]

          Gas Mass   Gas Density    Gas Temp
0           0.0010  1.941501e-19    3.039838
1           0.0010  2.943696e-19    3.039613
2           0.0019  7.279666e-19   59.205544
3           0.0010  2.018840e-19    3.347279
4           0.0010  1.700173e-19  160.821350
...            ...           ...         ...
10842971    0.0010  2.707378e-17   94.004051
10842972    0.0010  2.147134e-17   91.923721
10842973    0.0010  4.778455e-17   97.552826
10842974    0.0010  4.961102e-17   98.121269
10842975    0.0011  4.511472e-17   97.733238

[10842976 rows x 3 columns]

In [6]:
#ds.derived_field_list

In [7]:
field_list = { "Column Name" : ["Density", "Masses", "Temp"], "Data" : [ Density, Mass, Temp]}

In [8]:
df = pd.DataFrame(field_list, columns = ['Column Name', 'Data'])
result = []
for f in df:
    result.append(field_list['Column Name'])
      
df["Result"] = result   
print(df)

ValueError: Length of values (2) does not match length of index (3)

In [ ]:
gas_df = pd.DataFrame()

fields = [[('PartType0', "Temperature")], [('PartType0', "Masses")], [('PartType0', 'density')]] 
for f in fields:
    field_data = ds.r[fields]
    gas_df[f] = field_data

In [ ]:
gasdframe.shape, gasdframe.info()

In [ ]:
gasdframe.describe()

In [21]:

StarMass = ds.r['PartType5', "Masses"].in_units('Msun')
Stardframe = pd.DataFrame(
    {
        "Star Mass": StarMass
        
    }
)
Stardframe

      Star Mass
0      0.912331
1      1.618153
2      1.818890
3      1.005807
4      0.289201
...         ...
1866   0.468900
1867   0.111100
1868   0.029000
1869   0.250100
1870   2.517104

[1871 rows x 1 columns]

In [17]:
Stardframe.describe()

         Star Mass
count  1871.000000
mean      0.665067
std       3.789334
min       0.002000
25%       0.057600
50%       0.147900
75%       0.360350
max      92.534424

In [13]:
np.argmax(Stardframe)

1669